@import url('https://fonts.googleapis.com/css?family=Red%20Hat%20Mono:700|Red%20Hat%20Mono:400');
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Limbu:700|Noto%20Sans%20Limbu:400');
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Rubik:400');



body {
  background-color: #e2e1df;
  margin: 0;
  font-family: 'Red Hat Mono';
}

p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; 
}



/*=============Nav Bar===================*/
.nav {
  background-color: rgba(166, 176, 197, 0.8); /* 30% opacity */
  height: 60px;
  width: 100%;
  position: relative;
  position: sticky; 
  top: 0;            
  z-index: 1000;     
}

.menubar {
  display: flex;
  justify-content: center;
}

.menubar .p-menubar-root-list {
  display: flex;
  justify-content: center;
  gap: 50px; 
  font-size: 26px;
  margin-top: 15px;
}

.menubar .p-menubar-root-list .left-item { 
  position: absolute;
  font-size: 33px;
  left: 30px;
}

.menubar .p-menubar-end {
  position: absolute;
  right: 20px;
}
/*=============hover effect===================*/
.menubar .p-menubar-root-list a {
  position: relative; 
  color: black;
  text-decoration: none; 
  transition: color 0.3s ease;
  padding: 4px 0; 
}

.menubar .p-menubar-root-list a::before,
.menubar .p-menubar-root-list a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: transparent; 
  transition: background-color 0.3s ease;
}

.menubar .p-menubar-root-list a::before {
  top: 0; 
}

.menubar .p-menubar-root-list a::after {
  bottom: 0; 
}

.menubar .p-menubar-root-list a:hover {
  color: #63289a;
}

.menubar .p-menubar-root-list a:hover::before,
.menubar .p-menubar-root-list a:hover::after {
  background-color: #63289a; 
}


/*=============hover effect===================*/

/*=============Button===================*/
.button {
  position: relative;
  display: inline-block;
  overflow: hidden; 
  margin-top: 15px;
}

.button .p-button {
  background-color: transparent;
  color: #000000;
  border:transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Red Hat Mono', monospace;
  cursor: pointer;
  gap: 10px;
  position: relative;
  z-index: 1;  
  transition: color 0.3s ease;
  border-radius: 4px; 
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #50265d;
  transition: width 0.3s ease;
  z-index: 0; 
}

.button:hover::after {
  width: 100%;
}

.button:hover .p-button {
  color: #f8f8f7;
}

.button .p-button:focus {
  outline: none;
  box-shadow: none;
}

/*=============Button===================*/

/*=============Nav Bar===================*/

/*=============Home===================*/

.home {
  display: flex;
  justify-content: space-between; /* push text left, image right */
  width: 100%;
  height: 500px;
  user-select: none;
}

.intro {
  flex: 1;
  padding: 20px;
  cursor: default;     /* keeps the cursor normal */
}

.p1 {
  margin-top: 40px;
  font-family: 'Noto Sans Limbu';
  font-size: 50px;
}

.name {
  display: inline-block;
  padding: 0;
  font-family: 'Poly';
  font-weight: bold;

  background-image: radial-gradient(circle at center, rgb(79, 74, 74), rgb(134, 134, 183) 80%);
  background-size: 200% 200%;
  background-repeat: no-repeat;

  background-clip: text !important;
  -webkit-background-clip: text !important;

  color: transparent !important;
  -webkit-text-fill-color: transparent !important;
}

.p2 {
  font-family: 'Arial';
  font-size: 20px;
  margin-top: 10px;
  color: gray;
}

.p3 {
  font-family: 'Arial';
  font-size: 20px;
  color: gray;
}

.image {
  flex: 1; 
  display: flex;
  align-items: center; 
}

/*=============Home===================*/

/*=============Skills===================*/

.skills {
  background-color: #a6b0c5;
  width: 100%;
  height: 490px;
  cursor: default;  
  user-select: none;
}

.p4 {
  margin-Left: 40px;
  padding: 20px;
  font-Size: 50px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 32px;
  max-width: 900px;
  margin-left: 90px;
  padding: 40px 20px;
  justify-items: center;
  margin: 0 auto;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.skill-item img {
  width: 100px;
  height: 100px;
}

.skill-name {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #333; 
}
/* ===== FLOAT SHADOW EFFECT ===== */

.hvr-float-shadow {
  display: inline-block;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition: transform 0.3s ease;
}

.hvr-float-shadow::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(
  ellipse at center,
  rgba(0, 0, 0, 0.35) 0%,
  rgba(0, 0, 0, 0) 80%
  );
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hvr-float-shadow:hover {
  transform: translateY(-6px);
}

.hvr-float-shadow:hover::before {
  opacity: 1;
  transform: translateY(6px);
}
/*=============Skills===================*/

/*=============contact===================*/
.contact {
  width: 100%; 
  min-height: 700px ;
  background-color: #a6b0c5;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  max-width: 400px;
  margin-left: 40px;
  margin-left: 150px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
}


.contact-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.contact-text {
  font-size: 20px;
  margin-left: 20px;
  color: #000000;
}

.contact-text a {
  color: #000000;
  text-decoration: none;
}


.p5 {
  font-family: 'Rubik';
  color: #3f27d6;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}

.p6 {
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.contact-form {
  font-family: 'Red Hat Mono';
  width: 500px;
  gap: 20px;
  margin-right: 150px;
}


.form-input 
{
  width: 420px;
  padding: 14px 16px;
  border: 1px solid #b7852a;
  margin-bottom: 20px;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Red Hat Mono';
}

.form-textarea {
  width: 420px;
  padding: 14px 16px;
  border: 1px solid #b7852a;
  border-radius: 15px;
  font-size: 16px;
  transition: border 0.3s ease;
  font-family: 'Red Hat Mono';
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: #3f27d6;
}

.form-textarea {
  resize: vertical;
}

.submit-btn {
  margin-top: 10px;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #4031a0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background: #2e1ab8;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(63, 39, 214, 0.3);
}
/*=============contact===================*/

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
}